header{
    margin-top:4vh;
    margin-bottom:4vh;
}

h1{
    text-align: center;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:4vh;
}

body{
    background-color: #A0AECD;
}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.button{
    padding:2.5vh 6vh;  
    border-radius: 5px;
}

.start{

    
}

.leader{

}