header{
    margin-top:4vh;
    margin-bottom:4vh;
}

h1{
    text-align: center;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:4.5vh;
}

.subHead{
    font-size: 3vh;
    text-align: center;
}

body{
    background-color: #A0AECD;
}

main{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

#startUp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    margin:12px;
    padding:2.5vh 6vh;  
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:3vh;
    background: ghostwhite;
    box-shadow: 0px 8px 10px #424e6b, -10px 8px 15px #424e6b, 10px 8px 15px #424e6b;
    cursor:pointer;

}

/* .start{
}
.leader{
}  */

#timeArea{
    display:flex;
    align-items:center;
    justify-content: center;
}

#counter{
    font-size:3.25vh;
    font-family:Arial, Helvetica, sans-serif;
}

#quizArea{
    font-family:Arial, Helvetica, sans-serif;
    font-size:4.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#qContent{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solution{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    min-width: 30%;
    margin-bottom: 35px;
    padding:3vh 7vh;
    border-radius: 5px;
    border-width: 2px;
    background-color: #b39e6e;
    box-shadow: 0px 8px 10px #424e6b, -10px 8px 15px #424e6b, 10px 8px 15px #424e6b;
    cursor:pointer;
}

#leaderArea{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 3px black;
    border-radius: 5px;
   
}

#leaderTitle{
    text-decoration: underline;
    font-size: 4.5vh;
}

#leaderList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #7c8fba;
    box-shadow:0px 8px 10px #424e6b, -10px 8px 15px #424e6b, 10px 8px 15px #424e6b ;
    width:75%;
    height:200px;
    border-radius: 7px;
    
}
