header{
    margin-top:4vh;
    margin-bottom:4vh;
}

h1{
    text-align: center;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:4vh;
}

.subHead{
    font-size: 3vh;
    text-align: center;
}

body{
    background-color: #A0AECD;
}

main{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.startUp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    margin:12px;
    padding:2.5vh 6vh;  
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:3vh;
    background: ghostwhite;
    box-shadow: 0px 8px 10px #6e83b3, -10px 8px 15px #6e83b3, 10px 8px 15px #6e83b3;
    cursor:pointer;

}

/* .start{
}
.leader{
}  */

#timeArea{
    background-color: white;
}